* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black !important;
  color: white !important;
  font-family: sans-serif;
  padding: 1rem;
}

.card-size {
  width: 18rem;
  object-fit: cover;
}